[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sphinx = ">7"
sphinxawesome-theme = "*"
sphinx-sitemap = "*"
myst-parser = "*"
# sphinx-design = "*"
rstdoc = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = false

#[requires]
#python_version = "3"
